{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components",
        "utils": "./src/utils",
        "styles": "./src/styles"
      }
    }]
  ]
}
